<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <link rel="stylesheet" href="../static/styles.css">
    
</head>
<body>
    
   
  {% include 'navbar.html' %}
    <div class="formContainer">
    <form action="/analysis" method="get">
        {% csrf_token %}
        <p>Data Analysis</p>
        
    
        <input type="text" id="reaction" name="reaction" placeholder="Name of the Reaction" required/>
        <br>
        <input type="text" id="temp" name="temp" placeholder="Temperature of the Reaction" required/>
        <br>
        <button type="submit">Analyse</button>
    
</form> 


</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>


