<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>
    <link rel="stylesheet" href="/static/styles.css">
    
</head>
<body>
    
  <nav class="navbar">
    <ul class="nav-links">
      <li><h2>KineticAnalysis</h2></li>
      <li><a href="/">Home</a></li>
      <li><a href="/addRecords">AddRecords</a></li>
      <li><a href="/dataAnalysis">DataAnalysis</a></li>
      <li><a href="/graphCreation">GraphCreation</a></li>
      <li><a href="/energyDetermination">EnergyDetermination</a></li>
    </ul>
  </nav>
  <form action="/dataAnalysis" method="post">
    {% csrf_token %}
    <p>Data Analysis</p>
    <br>
    <br>
    <input type="text" id="reaction" name="reaction" placeholder="Name of the Reaction" required/>
    <br>
    <input type="text" id="temp" name="temp" placeholder="Temperature of the Reaction" required/>
    <br>
    <button type=""submit>Analyse</button>

  </form> 
  
</body>
</html>


