<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Determination</title>
    <link rel="stylesheet" href="../static/styles.css">
    <style type="text/css">


 

    </style>
</head>
<body>
    
    {% include 'navbar.html' %}
    
    <div class="formContainer">
    <form action="/energyDetermination" method="get">
        {% csrf_token %}
        <p>Energy</p>
        
    
        <input type="text" id="reaction" name="reaction" placeholder="Name of the Reaction" required/>
       
        
       
        <button type="submit">Activation Energy</button>
        
    
</form> 


</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>


