

<!DOCTYPE html>

<html lang="en">

 <head>

 <meta charset="UTF-8" />

 <meta http-equiv="X-UA-Compatible" content="IE=edge" />

 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>Kinetic Analysis</title>
 <link rel="stylesheet" href="../static/styles.css">
  <style type="text/css">


h2{
  color: black;
}


 


 </style>
  

 
 </head>

 <body>
  
  {% include 'navbar.html' %}
 

  <p>
  <h2>Welcom to the KineticAnalysis Website</h2>

  This website can help you to find
  Which Mechanism is prevailing in Kinetic Data Analysis of Metallurgical Processes</li>
  You can get the graph of g (α) Vs t
  You can also find the Activation Energy of the proceses

  AddRecords: In this section user have to give the following inputs

  1. Name of the Reaction
  2. Temperature at which reaction is happening
  3. Number of Input user want to give
  4. Initial Weight of the reaction
  5. Final Weights as an array of length size
  6. Time Periods as an array of length size

  We will verify and save user input in our database.

  DataAnalysis: In this section user have to give

  1. Name of the Reaction
  2. Temperature at which reaction is happening

  We will Analyse the data then give the user which Mechanism is prevailing among the seventeen different solid state
  mechanism

  GraphCreation: In this section if user want to get the plot between g (α) Vs t for an specific mechanism user have
  to give
  1. Name of the Reaction
  2. Temperature at which reaction is happening
  3. Meachnism Number


  EnergyDetermination:In this section if user want to get the Activation Energy for an specific proceses user have to
  give
  1. Name of the Reaction
</p>



   

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 
 <script>
        {% for msg in messages %}
            swal('{{msg}}')
        {% endfor %}  
         
 </script>
 </body>

</html>

























    























    
