<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Kinetic Analysis</title>
  <link rel="stylesheet" href="/static/styles.css">


</head>

<body>
  {% csrf_token %}
  <nav class="navbar id="nav">
    <ul class="nav-links">
      <li><h2>KineticAnalysis</h2></li>
      <li><a href="/">Home</a></li>
      <li><a href="/addRecords">AddRecords</a></li>
      <li><a href="/dataAnalysis">DataAnalysis</a></li>
      <li><a href="/graphCreation">GraphCreation</a></li>
      <li><a href="/energyDetermination">EnergyDetermination</a></li>
      <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i></li>
    </ul>
  </nav>
    <div class="container">
    <div class="item">
    <button class="accordion">Welcom to the Kinetic Analysis Website</button>
    <div class="panel">
    <p>
      This website can help you to find
      <br>
      <li>Which Mechanism is prevailing in Kinetic Data Analysis of Metallurgical Processes</li>
      <li>You can get the graph of g (α) Vs t</li>
      <li>You can also find the Activation Energy of the procese</li>
    </p>
    </div>
    <button class="accordion">AddRecords</button>
    <div class="panel">
      <p>
        In this section user have to give the following inputs

        <li>Name of the Reaction</li>
        <li>Temperature at which reaction is happening</li>
        <li>Number of Input user want to give</li>
        <li>Initial Weight of the reaction</li>
        <li>Final Weights as an array of length size</li>
        <li>Time Periods as an array of length siz</li>
        <li>We will verify and save user input in our database</li>
      </p>

    </div>

    <button class="accordion">DataAnalysis</button>
    <div class="panel">
      <p>
        In this section user have to give

        <li>Name of the Reaction</li>
        <li>Temperature at which reaction is happening</li>

        <li>We will Analyse the data then give the user which Mechanism is prevailing among the seventeen different solid state
        mechanism</li>
      </p>

    </div>

    <button class="accordion">DataAnalysis</button>
    <div class="panel">
      <p>
        In this section if user want to get the plot between g (α) Vs t for an specific mechanism user have
        to give
        <li>Name of the Reaction</li>
        <li>Temperature at which reaction is happening</li>
        <li>Meachnism Number</li>
      </p>

    </div>


    <button class="accordion">EnergyDetermination</button>
    <div class="panel">
      <p>
        In this section if user want to get the Activation Energy for an specific proceses user have to
        give
        <li>Name of the Reaction</li>
      </p>

    </div>


  </div>
</div>
    <footer>
      <ul class="footer-links">
        <li><a href="/">Home</a></li>
        <li><a href="/contact">AddRecords</a></li>
        <li><a href="/energyDetermination">EnergyDetermination</a></li>
      </ul>
    </footer>



    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }

      function myFunction() {
      var x = document.getElementById("nav");
        if (x.className === "navbar") {
          x.className += " responsive";
        } else {
          x.className = "nav";
        }
      }
  </script>
</body>

</html>