

<!DOCTYPE html>

<html lang="en">

 <head>

 <meta charset="UTF-8" />

 <meta http-equiv="X-UA-Compatible" content="IE=edge" />

 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>Kinetic Analysis</title>
 <link rel="stylesheet" href="../static/styles.css">
  

 
 </head>

 <body>
  

 <nav class="navbar">

   <!-- LOGO -->

   <div class="logo">KineticAnalysis</div>

   <!-- NAVIGATION MENU -->

   <ul class="nav-links">

   

   <div class="menu">
    <a href="/">Home</a>
     <a href="/addRecords">AddRecords</a>

     <a href="/dataAnalysis">DataAnalysis</a>

     <a href="/graphCreation">GraphCreation</a>

     

     <a href="/energy">EnergyDetermination</a>

     
   </div>



   </ul>
</nav>

 
 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 
 </body>

</html>

























    























    
