<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>
    <link rel="stylesheet" href="../static/styles.css">
    
</head>
<body>
    
    {% include 'navbar.html' %}
    
    <div class="formContainer">
    <form action="/addRecords" method="post">
        {% csrf_token %}
        <p>Add Records</p>
    
        
        <input type="text" id="reaction" name="reaction" placeholder="Name of the Reaction" required/>
        <br>
        <input type="text" id="temp" name="temp" placeholder="Temperature of the Reaction" required/>
        <br>
        <input type="number" id="size" name="size" placeholder="Number of Input" required/>
        <br>
        <input type="text" id="initial weight" name="initial weight" placeholder="Initial Weight of the Reaction" required/>
        <br>
        <input type="text" id="final weights" name="final weights" placeholder="Final Weights of the Reaction" required/>
        <br>
        <input type="text" id="time periods" name="time periods" placeholder="Time Periods of the Reaction" required/>
        <br>
        <button type="submit" id="data">Submit</button>
    
</form> 

</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>


