<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
  {% csrf_token %} 
  <nav class="navbar">
    <ul class="nav-links">
      <li><h2>KineticAnalysis</h2></li>
      <li><a href="/">Home</a></li>
      <li><a href="/addRecords">AddRecords</a></li>
      <li><a href="/dataAnalysis">DataAnalysis</a></li>
      <li><a href="/graphCreation">GraphCreation</a></li>
      <li><a href="/energyDetermination">EnergyDetermination</a></li>
    </ul>
  </nav>

  <form action="/addRecords" method="post">
      <p><h1>Add Records</h1></p>
      <br>
      <br>
      <input type="text" id="reaction" name="reaction" placeholder="Name of the Reaction" required/>
      <br>
      <input type="text" id="temp" name="temp" placeholder="Temperature of the Reaction" required/>
      <br>
      <input type="number" id="size" name="size" placeholder="Number of Input" required/>
      <br>
      <input type="text" id="initial weight" name="initial weight" placeholder="Initial Weight of the Reaction" required/>
      <br>
      <input type="text" id="final weights" name="final weights" placeholder="Final Weights of the Reaction" required/>
      <br>
      <input type="text" id="time periods" name="time periods" placeholder="Time Periods of the Reaction" required/>
      <br>
      <button type="submit" id="data">Submit</button>
  </form> 

</body>
</html>


